.color-custom{
    background: #364463 !important;
}
section {
    padding-top: 90px;
}
input[type=text]{
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
input[type=text]:focus{
    width: 100%;
}
.colorText{
    color: white;
}

.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
 }
 .scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
 }